.tasks__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tasks__content {
  flex: 1;
  text-align: center;
  font-size: 18px;
}

.tasks__button--toggleDone {
  color: green;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

.tasks__button--toggleDone:hover {
  transition-duration: 2s;
  background: darkgreen;
}

.tasks__button--remove {
  color: rgb(255, 0, 0);
  cursor: pointer;
  font-size: 20px;
  transition-transform: 0.5s;
}

.tasks__button--remove:hover {
  background: red;
  transition-duration: 2s;
}

.task-item__content--done {
  text-decoration: line-through;
}

.tasks__item--hidden {
  display: none;
}
