.tasks__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  background-color: white;
}

.tasks__content {
  flex: 1;
  text-align: left;
  font-size: 16px;
  margin-left: 10px;
}

.tasks__button--toggleDone {
  background-color: #008000;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.tasks__button--toggleDone:hover {
  transition-duration: 2s;
  background: darkgreen;
}

.tasks__button--remove {
  background-color: #dc3545;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  transition-transform: 0.5s;
}

.tasks__button--remove:hover {
  background: red;
  transition-duration: 2s;
}

.tasks-item__content--done {
  text-decoration: line-through;
}

.tasks__item--hidden {
  display: none;
}
